.modulo:hover span {
  display: block;
}

.modulo {
  position: relative;
}

.modulo span {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border-radius: 5px;
}

/* Estilo para os gráficos */
.Graficos {
  display: flex; /* Coloca os gráficos lado a lado */
  justify-content: space-between; /* Distribui os gráficos com espaçamento */
  gap: 20px; /* Espaço de 20px entre os gráficos */
  margin-top: 20px; /* Espaço entre o Ranking e os Gráficos */
}

.card {
  width: 30%; /* Cada gráfico ocupa 30% da largura */
  height: auto; /* Altura ajustada automaticamente */
}

canvas {
  width: 100%; /* O gráfico ocupa 100% da largura do contêiner */
  height: 300px; /* Altura padrão dos gráficos */
}

/* Responsividade - quando a tela for menor, os gráficos empilham */
@media (max-width: 768px) {
  .Graficos {
      flex-direction: column; /* Empilha os gráficos verticalmente */
  }
  .card {
      width: 100%; /* Gráficos ocupam 100% da largura */
      margin-bottom: 20px; /* Adiciona espaçamento entre gráficos empilhados */
  }
}