/* Estilos Gerais */
.card.ranking {
    background: linear-gradient(135deg, #ffffff, #f0f0f0);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    height: auto;
    width: auto;
  }
  
  .card.ranking:hover {
    transform: translateY(-5px);
  }
  
  .card.ranking h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .ranking-list {
    display: flex;
    text-align: Center;
    flex-direction:row;
    gap: 12px;
  }
  
  .ranking-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: background-color 0.2s ease;
  }
  
  .ranking-item:hover {
    background-color: #f7f7f7;
  }
  
  .ranking-position {
    font-size: 1.2em;
    font-weight: bold;
    color: #FF5722;
  }
  
  .ranking-name {
    font-size: 1.1em;
    color: #555;
  }
  
  /* Ícones de Coroa para o Ranking */
  .ranking-position::before {
    content: '👑 ';
    font-size: 1.2em;
    color: #FFC107;
  }
  
