body {
    font-family: monospace, sans-serif;
    background-color: #ff9d00; /* Fundo em laranja */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center; /* Centraliza o contêiner */
    gap: 20px; /* Espaçamento entre os cartões */
    flex-wrap: wrap; /* Permite que os cartões quebrem linha */
    padding: 20px;
}

.conteudo-principal {
    flex-grow: 1;
    padding: 20px;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ffebcc; /* Laranja claro */
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    color: #ff9d00; /* Título em laranja */
    font-size: 24px;
    margin-bottom: 15px;
}

.modal-content input,
.modal-content select {
    background-color: #e0f7e0; /* Verde claro */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: calc(100% - 22px);
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #e3b76b; /* Azul royal para destacar botões */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #637ca6; /* Azul mais escuro no hover */
}

button.excluir {
    background-color: #ff6666; /* Vermelho claro para excluir */
}

button.excluir:hover {
    background-color: #cc3333; /* Tom mais escuro no hover */
}

#botao-adicionar {
    display: block;
    margin: 20px auto; /* Centraliza horizontalmente */
    background-color: #e3b76b;
    color: white;
    padding: 10px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase; /* Letras maiúsculas */
}

#botao-adicionar:hover {
    background-color: #cc7a00; /* Laranja mais escuro no hover */
}

.mensagem-confirmacao {
    background-color: #e0ffe0; /* Verde claro para destaque */
    color: #333; /* Cor do texto */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.produtos-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.produto-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Courier New', Courier, monospace;
}

.produto-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.produto-card img {
    width: 100%;
    max-width: 150px;
    height: auto;
    max-height: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
    object-fit: cover;
}

.produto-nome {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.produto-categoria,
.produto-vendas {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.mensagem-confirmacao {
    background-color: #e0ffe0;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.categoria-filtro {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.categoria-filtro label {
    font-weight: bold;
    color: #333;
}

.categoria-filtro select {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.categoria-filtro select:hover {
    background-color: #b3b5b3;
}

.categoria-filtro select:focus {
    border-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(176, 179, 176, 0.5);
}
