/* Configurações gerais */
body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(5px);
}

/* Container principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

/* Estilo da caixa de formulário */
.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    color: #333;
}

/* Logo */
.logo {
    max-width: 100px;
    height: auto;
    margin-bottom: 20px;
}

/* Cabeçalho do formulário */
h2 {
    margin-bottom: 30px;
    color: #FF7300;
    font-size: 24px;
}

/* Estilos para seções de informações */
.section {
    text-align: left;
    margin-bottom: 20px;
}

.section h3 {
    color: #FF7300;
    font-size: 18px;
    margin-bottom: 10px;
}

.section p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

/* Estilo do botão */
.btn {
    background-color: #FF7300;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn i {
    margin-right: 5px;
}

.btn:hover {
    background-color: #FF5B00;
}

/* Responsividade */
@media (max-width: 768px) {
    .card {
        padding: 20px;
        max-width: 100%;
    }
    .logo {
        max-width: 70px;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 15px;
    }
    .logo {
        max-width: 60px;
    }
    h2 {
        font-size: 20px;
    }
}
